@import url('../css/font.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.out_window{
    position: absolute;
    display: none;
    width: 50vw;
    height: 60vh;
    z-index: 200000;
    margin-left: 25vw;
    margin-top: 15vh
}
.img_full{
    display: block;
    background: url("../img/标签.jpeg") no-repeat;
    background-size: cover;
    width:17vw;
    height: 65vh;
    margin-top: -5vh;
    margin-left: -3vh;
    border-radius: 0.5em;
}
.img_full2{
    display: block;
    background: url("../img/bhhtgyxy.png") no-repeat;
    background-size: cover;
    width: 10vw;
    height: 10vw;
    border-radius: 0.5em;
}
.window_in_box{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    width: 32vw;
    height: 55vh;
    gap: 2vh;
}
.close_window{
    display: block;
    position: absolute;
    right: -1vw;
    top:-3vh
}
a:link {color:black;}
a:hover{color:black}
.input_box{
    position: relative;
    width: 15vw;
}
.input_box input{
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
}
.input_box label{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: gray;
    text-transform: uppercase;
    transition: 0.5s;
}
.input_box input:valid ~label,
.input_box input:focus ~label
{
    color: black;
    background: white;
    transform: translateX(1vw) translateY(-2vh);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    letter-spacing: 0.2em;
}
.get_captcha{
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    gap: 0.5vw;
}.get_captcha input{
    width: 4vw;
    height: 9vh;
    border-radius: 0.3em;
    border: 2px solid gray;
    font-size:2.5em;
    text-align: center;
 }
.input_tip{
    display: flex;
    align-items: center;
    margin-left: 1vw;
}.input_tip span{
    color: #a71d2a;
 }
.black_a_div_house{
} .black_a_div_house a:link,
  .black_a_div_house a:active,
  .black_a_div_house a:visited,
  .black_a_div_house a:hover{
    color: black;
  }
.Manager_menu{
    position: absolute;
    left: 0;
    width: 30vw;
}
.appliances_list{
    height: 300vh;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: row;
}