<!DOCTYPE html>
<html lang="en" xmlns:ime-mode="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{url_for('static',filename='js/vue.js') }}"></script>
    <script src="{{url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{url_for('static',filename='js/socket.io.js') }}"></script>
    <script src="{{url_for('static',filename='bootstrap-4.6.2-dist/js/bootstrap.bundle.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/normal.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.6.2-dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='iconfont/iconfont.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='iconfont/iconfont.svg') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font.css') }}">
    <script src="{{url_for('static',filename='js/out_box.js') }}"></script>
    <script src="{{url_for('static',filename='js/base.js') }}"></script>
    <script src="{{url_for('static',filename='js/index.js') }}"></script>
    <script src="{{url_for('static',filename='iconfont/iconfont.js') }}"></script>
</head>
<body onload="modal_show('{{ Current_page }}')">
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">是否已经拥有派派</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        为了您更好的体验我们必须要对您进行询问
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">并没有</button>
        <button type="button" class="btn btn-primary">我有了</button>
      </div>
    </div>
  </div>
</div>
<div id="root" class="fixed-top">
    <div style="display: flex;flex-direction: row">
        <div class="left_menu">
            <div id="part1">
                <div class="boxs" style="margin-top: 2vh"><img src="{{ url_for('static',filename='img/bhhtgyxy_logo.png') }}" alt="s" style="background-size: cover;height: 9vh;width: 5vw"></div>
                {% if Email %}
                    <div class="boxs" style="margin-top: 2vh">
                        <a href="/user/user_self/{{Email}}" data-toggle="tooltip" data-placement="right" title="个人信息" class="{{ 'active_menu' if Current_page == 'USER_SELF' else '' }}"><div class="boxs"><i class="iconfont" style="font-size: xxx-large">&#xe642;</i></div></a>
                    </div>
                    <div class="boxs">
                        <a href="/"  data-toggle="tooltip" data-placement="right" title="首页" style="margin-top: 2vh" class="{{ 'active_menu' if Current_page == 'INDEX' else '' }}">
                            <div class="boxs">
                                <i class="iconfont" style="font-size: xxx-large">&#xe666;</i>
                            </div>
                        </a>
                    </div>
                    <div class="boxs" style="margin-top: 2vh">
                        <a href="/purchase/index" data-toggle="tooltip" data-placement="right" title="订单" class="{{ 'active_menu' if Current_page == 'PURCHASE_INDEX' else '' }}"><div class="boxs"><i class="iconfont" style="font-size: xxx-large">&#xe682;</i></div></a>
                    </div>
                    <div class="boxs" style="margin-top: 2vh">
                        <a href="/control/index" data-toggle="tooltip" data-placement="right" title="设备控制" class="{{ 'active_menu' if Current_page == 'CONTROL_INDEX' else '' }}"><div class="boxs" style="padding-left: 1vw"><i class="iconfont" style="font-size: xxx-large">&#xe651;</i></div></a>
                    </div>
                    <div class="boxs" style="margin-top: 2vh">
                        <a href="/docs"  data-toggle="tooltip" data-placement="right" title="教程" class="{{ 'active_menu' if Current_page == 'DOCS' else '' }}"><div class="boxs"><i class="iconfont" style="font-size: xxx-large">&#xe6ee;</i></div></a>
                    </div>
                    <div style="position: absolute;bottom: 0;color: white;display: flex;flex-direction: column;gap: 1vh">
                        <div>
                            <span style="color: white">
                                <a href="javascript:void (0)" @click="link_ras({% if Email and Username %}true{% else %}false{% endif %})"><i class="iconfont">&#xe811;</i>未连接派派</a>
                            </span>
                        </div>
                        <div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">明暗</label>
                            </div>
                        </div>
                        <div>
                            <a href="/user/logout"><i class="iconfont">&#xe639;</i>退出登录</a>
                        </div>
                    </div>
                {% else %}
                    <div class="boxs" style="margin-top: 2vh">
                        <button type="button" class="btn btn-primary btn-small" @click="change_window('login')">登录</button>
                    </div>
                    <div class="boxs">
                    <a href="/"  data-toggle="tooltip" data-placement="right" title="首页" style="margin-top: 2vh">
                        <div class="boxs">
                            <i class="iconfont" style="font-size: xxx-large">&#xe666;</i>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="overflow-auto" style="height: 100vh;width: 93vw;">
        {% block body %}

        {% endblock %}
        </div>
    </div>
<div class="out_window shadow-lg p-3 mb-5 bg-white rounded" id="tanchuang" @keyup.esc="change_window('none')">
            <div class="close_window"><a href="javascript:void(0)" @click.prevent="close_window">[esc]关闭窗口</a></div>
            <div class="alert alert-danger" role="alert" style="position: absolute;display: none;right: 0;top: 0" id="Error_window"></div>
            <div class="alert alert-success" role="alert" style="position: absolute;display: none;right: 0;top: 0" id="Success_window"></div>
            <div style="display: flex;justify-content: space-between">
                <div class="img_full shadow-lg p-3 mb-5 bg-white rounded"></div>
                <div class="window_in_box">
                    <div id="progress" style="display: block;height: 3vh;width: 30vw">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" :style="[progress]" :aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">((progress_text))</div>
                        </div>
                    </div>
                    <div id="login" style="display: none;">
                        <div style="display: flex;flex-direction: column;gap: 3vh;width:31vw;align-items: center">
                            <div style="display: flex;">
                                <h3>{{System_name}}</h3>
                            </div>
                            <div style="display: flex;flex-direction: column;gap: 3vh;width: 31vw;align-items: center;margin-top: 5vh">
                                <div style="display: flex;flex-direction: row;gap: 1vw">
                                    <div>
                                        <i class="iconfont" style="font-size: 2em;color: gray">&#xe63c;</i>
                                    </div>
                                    <div class="input_box">
                                        <input type="text" maxlength="320" id="Email" required @change="check_form_all_right(1)">
                                        <label for="Email">Email</label><br>
                                    </div>
                                </div>
                                <div style="display: flex;flex-direction: row;gap: 1vw">
                                    <div>
                                        <i class="iconfont" style="font-size: 2em;color: gray">&#xe696;</i>
                                    </div>
                                    <div class="input_box">
                                        <input type="password" maxlength="320" id="Password" required @change="check_form_all_right(2)">
                                        <label for="Password">password</label>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-outline-success btn-lg" @click="to_login">下一步</button>
                                </div>
                                <div style="display: flex;justify-content: space-around;width: 31vw" class="black_a_div_house">
                                    <div><a href="#" @click.prevent="change_window('register1')">注册</a></div>
                                    <div><a href="#" @click.prevent="change_window('forget_password1')">忘记密码</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="register1" style="display: none;flex-direction: column">
                        <div>
                            <h3>准备好成为{{System_name}}的一员了嘛</h3>
                            <hr>
                        </div>
                        <div style="display: flex;justify-content: space-between">
                            <div style="display:flex;flex-direction: column;gap: 3vh;margin-top: 1vh">
                                <div class="input_box">
                                    <input type="text" maxlength="20" id="Register_Username" required @change="check_form_all_right(1)">
                                    <label for="Register_Username">Username</label><br>
                                </div>
                                <div class="input_box">
                                    <input type="text" maxlength="320" id="Register_Email" required @change="check_form_all_right(2)"><label for="Register_Email">Email</label>
                                </div>
                                <div style="display:flex;justify-content: space-around;">
                                    <div>
                                        <input type="checkbox" id="agree1" @change="check_form_all_right(3)"><label for="agree1">隐私政策</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="agree2" @change="check_form_all_right(3)"><label for="agree2">免责声明</label>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;align-items: center;width: 15vw">
                                <div class="img_full2">
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 2vh;margin-bottom: 1vh">
                            <p style="font-size: small">稍后我们会通过该Email给你发验证码，请务必填写你经常使用的电子邮箱</p>
                        </div>
                        <div style="display: flex;justify-content: space-around">
                            <div style="display:flex;flex-direction:row;gap: 1vw">
                                <div>
                                    <button type="button" class="btn btn-outline-success btn-lg" id="register1_next" disabled="disabled" @click="register1_next">下一步</button>
                                </div>
                                <div style="padding-top: 1vh;display: none" id="loading_success">
                                    <div class="spinner-border text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void (0)" @click="change_window('login')">返回登陆</a>
                        </div>
                    </div>
                    <div id="register2" style="display: none">
                        <div style="display: flex;flex-direction: column">
                            <div>
                                <h3>验证码已发送到您邮箱请注意查收</h3>
                                <hr>
                            </div>
                            <div class="get_captcha" style="padding-top: 2vh;padding-bottom: 2vh">
                                <input type="text" maxlength="1" required @keyup="focusNextInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup="focusNextInput" @keyup.delete="focusPrevInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup="focusNextInput" @keyup.delete="focusPrevInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup="focusNextInput" @keyup.delete="focusPrevInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup="focusNextInput" @keyup.delete="focusPrevInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup.delete="focusPrevInput">
                            </div>
                            <div>
                                <hr>
                                <p>请不要把该验证码发给其他人，以免造成您的不必要的人生安全或财产的损失。如非本人操作请忽略此短信。</p>
                            </div>
                            <div style="padding-left: 7vw;padding-top: 2vh">
                                <button type="button" class="btn btn-outline-success btn-lg" id="register2_next" @click="register2_next">下一步</button>
                            </div>
                        </div>
                    </div>
                    <div id="register3" style="display: none">
                        <div style="display: flex;flex-direction: column;">
                            <div>
                                <h3>设置密码</h3>
                                <hr>
                            </div>
                            <div style="display: flex;flex-direction: column;gap: 3vh;margin-top: 2vh">
                                <div style="display:flex;flex-direction: row;">
                                    <div class="input_box">
                                        <input type="password" maxlength="20" id="Register_password" required @change="check_form_all_right(4)" value="">
                                        <label for="Register_password">Password</label>
                                    </div>
                                    <div class="input_tip">
                                        <span id="Register_password_tip1"></span>
                                    </div>
                                </div>
                                <div style="display:flex;flex-direction: row;">
                                    <div class="input_box">
                                        <input type="password" maxlength="20" id="Register_password_confirm" required @change="check_form_all_right(5)" value="">
                                        <label for="Register_password_confirm">Password_confirm</label><span id="Register_password_confirm_tip"></span>
                                    </div>
                                    <div class="input_tip">
                                        <span id="Register_password_tip2"></span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 3vh">
                                <button type="button" class="btn btn-outline-success btn-lg" id="register3_next" @click="register3_next">进入人脸识别</button>
                            </div>
                        </div>
                    </div>
                    <div id="register4" style="display: none;flex-direction: column;gap: 2vh">
                        <div>
                            <div style="display: flex;justify-content: space-around">
                                <div><button type="button" class="btn btn-outline-success btn-lg" @click="open_camera(0)">开启摄像头</button></div>
                                <div><h3>面部安全识别</h3></div>
                                <div style="display: flex;align-content: center"><button type="button" class="btn btn-outline-success btn-lg" id="register3_next" @click="action">拍照并返回登陆</button></div>
                            </div>
                            <hr>
                        </div>
                        <div style="height: 30vh;display: flex;justify-content: center;margin-top: -2vh">
                            <video id="media" autoplay></video>
                            <canvas id="photo" width="480" height="320"  style="display: none"></canvas>
                        </div>
                        <div style="display: flex;justify-content: center">
                            <p style="text-align: center;font-size: small">注意:为了更好的保护您再本网站的财产安全，我们将会对您的脸部进行录制用于登录面部识别，并且不会有任何人看到您。根据中华人名共和国宪法，我们会竭尽全力保护您的利益</p>
                        </div>
                    </div>
                    <div id="forget_password1" style="display: none;flex-direction: column;gap: 2vh">
                        <div style="display:flex;justify-content: center;">
                            <h3>找回密码</h3>
                        </div>
                        <div style="margin-top: -2vh">
                            <hr>
                        </div>
                        <div style="display:flex;flex-direction: column;gap: 5vh">
                            <div style="display: flex;justify-content:center;">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="Email_onforget" placeholder="Your-Email" aria-label="Your-Email" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div style="display: flex;flex-direction: column;gap: 2vh">
                                <button type="button" class="btn btn-outline-primary btn-lg" @click="forget_password(1)">人脸识别找回</button>
                                <button type="button" class="btn btn-outline-primary btn-lg" @click="forget_password(2)">邮箱验证码找回</button>
                            </div>
                            <div style="display: flex;justify-content: space-between">
                                <div></div>
                                <div><button type="button" class="btn btn-outline-success btn-lg" @click="change_window('login')">返回登陆</button></div>
                            </div>
                        </div>
                    </div>
                    <div id="forget_password2" style="display: none;flex-direction: column;gap: 2vh">
                        <video id="media1" autoplay></video>
                        <canvas id="photo1" width="480" height="320"  style="display: none"></canvas>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" :style="[progress_face]" :aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div id="forget_password2_5" style="display: none;flex-direction: column;gap: 2vh">
                        <h1>龙体欠安，暂不开发</h1>
                    </div>
                    <div id="forget_password3"style="display: none;flex-direction: column;gap: 2vh">
                        <div style="display: flex;flex-direction: column;">
                            <div>
                                <h3>设置密码</h3>
                                <hr>
                            </div>
                            <div style="display: flex;flex-direction: column;gap: 3vh;margin-top: 2vh">
                                <div style="display:flex;flex-direction: row;">
                                    <div class="input_box">
                                        <input type="password" maxlength="20" id="Forget_password" required @change="check_form_all_right(6)" value="">
                                        <label for="Forget_password">Password</label>
                                    </div>
                                    <div class="input_tip">
                                        <span id="Forget_password_tip1"></span>
                                    </div>
                                </div>
                                <div style="display:flex;flex-direction: row;">
                                    <div class="input_box">
                                        <input type="password" maxlength="20" id="Forget_password_confirm" required @change="check_form_all_right(7)" value="">
                                        <label for="Forget_password_confirm">Password_confirm</label><span id="Register_password_confirm_tip"></span>
                                    </div>
                                    <div class="input_tip">
                                        <span id="Forget_password_tip2"></span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 3vh">
                                <button type="button" class="btn btn-outline-success btn-lg" id="forget3_next" @click="forget3_next">完成,返回登陆</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="out_window shadow-lg p-3 mb-5 bg-white rounded" id="raspberry_link_window" style="display: none;left: 27vw;top: 15vh">
    <div class="close_window"><a href="javascript:void(0)" @click="appliance_window_change(false)">[esc]关闭窗口</a></div>
    <div style="display: flex;flex-direction: column;width: 100%">
        <div>
            <h1>Starting Link Raspberry pi 4B</h1>
        </div>
        <div>
            <hr style="width: 100%">
        </div>
        <form>
            <div style="display: flex;width: 100%;flex-direction: column;gap: 2vh">
                <div style="display: flex;">
                    <div style="width: 10vw">
                        <label class="sr-only" for="inlineFormInputName">IP</label>
                        <input type="text" class="form-control" id="inlineFormInputName" placeholder="192.168.XX.XX" maxlength="15">
                    </div>
                    <div style="width: 7vw;">
                        <label class="sr-only" for="inlineFormInputGroupUsername">Port</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">:</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Port">
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                    <label class="form-check-label" for="autoSizingCheck2">
                    记住派派
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg">Link</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<script type="text/javascript">
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>