<!DOCTYPE html>
<html lang="en" xmlns:ime-mode="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/bootstrap-4.6.2-dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="../static/css/normal.css">
    <link rel="stylesheet" href="../static/bootstrap-4.6.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <script src="../static/js/弹出框测试.js"></script>
</head>
<body>
    <div id="root" @keydown.esc="change_window('none')" style=" user-select: none;">
        <div class="fixed-top" style="display: block">
            <nav class="navbar navbar-dark bg-dark" style="padding-left: 1.5vw;padding-right: 2.3vw">
                <div class="d-flex flex-row align-items-center" style="gap: 1vw;">
                    <div style="height:7vh;width: 18vw;margin-top: -3vh">
                        <img src="((School_logo))" class="img-fluid" alt="...">
                    </div>
                    <div style="display: flex;flex-direction: row;gap: 1vw;justify-content: center;align-items: center">
                        <div>
                            <a href="/" class="text-light" style="text-decoration: none;font-size: 1.4em;font-weight: bold">首页</a>
                        </div>
                        <div>
                            <a href="/about" class="text-light" style="text-decoration: none;">关于</a>
                        </div>
                        <div>
                            <div class="dropdown">

                                <a class="text-light" style="text-decoration: none" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                    下载
                                </a>
                                <div class="dropdown-menu bg-dark">
                                    <a class="dropdown-item text-light" href="#">Windows(32位)</a>
                                    <a class="dropdown-item text-light" href="#">Windows(64位)</a>
                                    <a class="dropdown-item text-light" href="#">App</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex;flex-direction:row;right: 0;align-items: center;gap: 2vw" id="UserInformation">
                    {% if Email %}
                        <div>
                            <img src="(( User_img ))" alt="">
                        </div>
                        <div>
                            <a href="#" class="text-light">(( Email ))</a>
                        </div>
                        <div>
                            <a href="">注销</a>
                        </div>
                    {% else %}
                        <div>
                            <a class="btn btn-primary btn-lg" href="#" @click.prevent="change_window('login')">登录</a>
                        </div>
                        <div>
                            <a href="">注册</a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div class="out_window shadow-lg p-3 mb-5 bg-white rounded" id="tanchuang">
            <div class="close_window"><a href="javascript:void(0)" @click.prevent="change_window('none')">[esc]关闭窗口</a></div>
            <div class="alert alert-danger" role="alert" style="position: absolute;display: none;right: 0;top: 0" id="Error_window"></div>
            <div class="alert alert-success" role="alert" style="position: absolute;display: none;right: 0;top: 0" id="Success_window"></div>
            <div style="display: flex;justify-content: space-between">
                <div class="img_full"></div>
                <div class="window_in_box">
                    <div id="progress" style="display: block;height: 3vh;width: 30vw">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" :style="[progress]" :aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{progress_text}}</div>
                        </div>
                    </div>
                    <div id="login" style="display: none;">
                        <div style="display: flex;flex-direction: column;gap: 3vh;width:31vw;align-items: center">
                            <div style="display: flex;">
                                <h3>{{System_name}}</h3>
                            </div>
                            <div style="display: flex;flex-direction: column;gap: 3vh;width: 31vw;align-items: center;margin-top: 5vh">
                                <div style="display: flex;flex-direction: row;gap: 1vw">
                                    <div>
                                        <i class="iconfont" style="font-size: 2em;color: gray">&#xe63c;</i>
                                    </div>
                                    <div class="input_box">
                                        <input type="text" maxlength="320" id="Email" required @change="check_form_all_right(1)">
                                        <label for="Email">Email</label><br>
                                    </div>
                                </div>
                                <div style="display: flex;flex-direction: row;gap: 1vw">
                                    <div>
                                        <i class="iconfont" style="font-size: 2em;color: gray">&#xe696;</i>
                                    </div>
                                    <div class="input_box">
                                        <input type="password" maxlength="320" id="Password" required @change="check_form_all_right(2)">
                                        <label for="Password">password</label>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-outline-success btn-lg" @click="to_login">下一步</button>
                                </div>
                                <div style="display: flex;justify-content: space-around;width: 31vw" class="black_a_div_house">
                                    <div><a href="#" @click.prevent="change_window('register1')">注册</a></div>
                                    <div><a href="#" @click.prevent="change_window('forget_password')">忘记密码</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="register1" style="display: none;flex-direction: column">
                        <div>
                            <h3>准备好成为{{System_name}}的一员了嘛</h3>
                            <hr>
                        </div>
                        <div style="display: flex;justify-content: space-between">
                            <div style="display:flex;flex-direction: column;gap: 3vh;margin-top: 1vh">
                                <div class="input_box">
                                    <input type="text" maxlength="20" id="Register_Username" required @change="check_form_all_right(1)">
                                    <label for="Register_Username">Username</label><br>
                                </div>
                                <div class="input_box">
                                    <input type="text" maxlength="320" id="Register_Email" required @change="check_form_all_right(2)"><label for="Register_Email">Email</label>
                                </div>
                                <div style="display:flex;justify-content: space-around;">
                                    <div>
                                        <input type="checkbox" id="agree1" @change="check_form_all_right(3)"><label for="agree1">隐私政策</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="agree2" @change="check_form_all_right(3)"><label for="agree2">免责声明</label>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: center;align-items: center;width: 15vw">
                                <div class="img_full2">
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 2vh;margin-bottom: 1vh">
                            <p style="font-size: small">稍后我们会通过该Email给你发验证码，请务必填写你经常使用的电子邮箱</p>
                        </div>
                        <div style="display: flex;justify-content: space-around">
                            <div style="display:flex;flex-direction:row;gap: 1vw">
                                <div>
                                    <button type="button" class="btn btn-outline-success btn-lg" id="register1_next" disabled="disabled" @click="register1_next">下一步</button>
                                </div>
                                <div style="padding-top: 1vh;display: none" id="loading_success">
                                    <div class="spinner-border text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void (0)" @click="change_window('login')">返回登陆</a>
                        </div>
                    </div>
                    <div id="register2" style="display: none">
                        <div style="display: flex;flex-direction: column">
                            <div>
                                <h3>验证码已发送到您邮箱请注意查收</h3>
                                <hr>
                            </div>
                            <div class="get_captcha" style="padding-top: 2vh;padding-bottom: 2vh">
                                <input type="text" maxlength="1" required @keyup="focusNextInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup="focusNextInput" @keyup.delete="focusPrevInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup="focusNextInput" @keyup.delete="focusPrevInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup="focusNextInput" @keyup.delete="focusPrevInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup="focusNextInput" @keyup.delete="focusPrevInput" ime-mode:disabled>
                                <input type="text" maxlength="1" required @keyup.delete="focusPrevInput">
                            </div>
                            <div>
                                <hr>
                                <p>请不要把该验证码发给其他人，以免造成您的不必要的人生安全或财产的损失。如非本人操作请忽略此短信。</p>
                            </div>
                            <div style="padding-left: 7vw;padding-top: 2vh">
                                <button type="button" class="btn btn-outline-success btn-lg" id="register2_next" @click="register2_next">下一步</button>
                            </div>
                        </div>
                    </div>
                    <div id="register3" style="display: none">
                        <div style="display: flex;flex-direction: column;">
                            <div>
                                <h3>设置密码</h3>
                                <hr>
                            </div>
                            <div style="display: flex;flex-direction: column;gap: 3vh;margin-top: 2vh">
                                <div style="display:flex;flex-direction: row;">
                                    <div class="input_box">
                                        <input type="password" maxlength="20" id="Register_password" required @change="check_form_all_right(4)" value="">
                                        <label for="Register_password">Password</label>
                                    </div>
                                    <div class="input_tip">
                                        <span id="Register_password_tip1"></span>
                                    </div>
                                </div>
                                <div style="display:flex;flex-direction: row;">
                                    <div class="input_box">
                                        <input type="password" maxlength="20" id="Register_password_confirm" required @change="check_form_all_right(5)" value="">
                                        <label for="Register_password_confirm">Password_confirm</label><span id="Register_password_confirm_tip"></span>
                                    </div>
                                    <div class="input_tip">
                                        <span id="Register_password_tip2"></span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 3vh">
                                <button type="button" class="btn btn-outline-success btn-lg" id="register3_next" @click="register3_next">完成，并返回登录</button>
                            </div>

                        </div>
                    </div>
                    <div id="register4" style="display: none;flex-direction: column;gap: 2vh">
                        <div>
                            <div style="display: flex;justify-content: center">
                                <h3>面部安全识别</h3>
                            </div>
                            <hr>
                        </div>
                        <div style="height: 30vh">

                        </div>
                        <div style="display: flex;justify-content: center">
                            <p style="text-align: center">注意:我们将会对您的脸部进行录制，并不会有任何人看到您。根据中华人名共和国宪法，我们会竭尽全力保护您的利益</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 3vh"></div>
        <div style="overflow-y: scroll;height: 92vh;margin-top: 3vh">
            {% block body %}

            {% endblock %}
        </div>
    </div>
<script type="text/javascript">
const vm = new Vue({
    el: '#root',
    data: {
        System_name: '((System_name))',
        current: 'none',
        add_appliance_window:'none',
        clock: '',
        progress: {},
        user_img:'(( User_img ))',
        progress_text: ''
    },
    methods: {
        change_window(need) {
            let progress_div = $('#progress')
            switch (need) {
                case 'login':
                    this.progress = {'width': '0%'}
                    this.progress_text = ''
                    break;
                case 'register1':
                    this.progress = {'width': '25%'}
                    this.progress_text = '设置邮箱，昵称'
                    break;
                case 'register2':
                    this.progress = {'width': '50%'}
                    this.progress_text = '获取验证码'
                    break;
                case 'register3':
                    this.progress = {'width': '75%'}
                    this.progress_text = '设置密码'
                    break;
                case 'register4':
                    this.progress = {'width':' 100%'}
                default:
                    break
            }
            vm.current = need
        },
        close_window() {
            vm.current = 'none'
        },
        change_some_css(target, judgement) {
            let color = ''
            if (judgement === true) {
                color = 'green'
            }
            if (judgement === false) {
                color = 'red'
            }
            if (judgement === undefined) {
                color = 'gray'
            }
            target.css({
                'border': `2px solid ${color}`
            })
            target.next().css({
                'color': `${color}`,
            })
        },
        check_input_error(sentence){
            let illegal=new RegExp("(.+)\\sand\\s(.+)|(.+)\\sor(.+)\\s$")
            return illegal.test(sentence);
        },
        check_form_all_right(category) {
            if (category === 1) {
                let Register_Username = $(`#Register_Username`)
                if (Register_Username.val()) {
                    if (Register_Username.val().length < 4) {
                        this.change_some_css(Register_Username, false)
                    } else {
                        this.change_some_css(Register_Username, true)
                    }
                } else {
                    this.change_some_css(Register_Username, undefined)
                }
            }
            if (category === 2) {
                var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
                let Register_Email = $(`#Register_Email`)
                if (Register_Email.val()) {
                    if (reg.test(Register_Email.val())) {
                        this.change_some_css(Register_Email, true)
                    } else {
                        this.change_some_css(Register_Email, false)
                    }
                } else {
                    this.change_some_css(Register_Email)
                }
            }
            if (category === 3) {
                let agree1 = $(`#agree1`).is(':checked')
                let agree2 = $(`#agree2`).is(':checked')
                if (agree1 === true && agree2 === true) {
                    $("#register1_next").removeAttr("disabled");
                }
                if (agree1 === false || agree2 === false) {
                    $("#register1_next").attr("disabled", "disabled");
                }
            }
            if (category === 4) {
                let Register_Password = $(`#Register_password`)
                let tip1=$(`#Register_password_tip1`)
                if (Register_Password.val()) {
                    if (Register_Password.val().length > 5) {
                        this.change_some_css(Register_Password, true)
                        tip1.css('color','rgb(0, 128, 0)')
                        tip1.text('正确')
                    } else {
                        this.change_some_css(Register_Password, false)
                        tip1.css('color','rgb(255, 0, 0)')
                        tip1.text('密码至少6位')
                    }
                } else {
                    this.change_some_css(Register_Password, undefined)
                    tip1.text(' ')
                }
            }
            if (category === 5){
                let tip2=$(`#Register_password_tip2`)
                let Register_Password = $(`#Register_password`)
                let Register_Password_Confirm=$(`#Register_password_confirm`)
                if (Register_Password_Confirm.val()){
                    if (Register_Password.val()===Register_Password_Confirm.val()){
                        this.change_some_css(Register_Password_Confirm, true)
                        tip2.css('color','rgb(0, 128, 0)')
                        tip2.text('正确')
                    }
                    else {
                        this.change_some_css(Register_Password_Confirm, false)
                        tip2.css('color','rgb(255, 0, 0)')
                        tip2.text('两次密码匹配不一致')
                    }
                }else {
                    this.change_some_css(Register_Password_Confirm, undefined)
                    tip2.text(' ')
                }
            }
        },
        alert_window(text, id) {
            let alert_w = $(`#${id}`);
            alert_w.text(text);
            alert_w.css('display', 'block');
            setTimeout( () => {
                alert_w.fadeOut('slow');
            }, 3000);
        },
        register1_next() {
            let Register_Username = $(`#Register_Username`)
            let Register_Email = $(`#Register_Email`)
            let nothing_in_input = '1.6px solid rgb(128, 128, 128)'
            let right_input = '1.6px solid rgb(0, 128, 0)'
            let error_input = '1.6px solid rgb(255, 0, 0)'
            console.log(Register_Username.css('border'))
            if (Register_Username.css('border') !== nothing_in_input) {
                if (Register_Username.css('border') === error_input) {
                    this.alert_window('用户名Username过短，至少4位', 'Error_window')
                }
                if (Register_Username.css('border') === right_input) {
                    if (Register_Email.css('border') !== nothing_in_input) {
                        if (Register_Email.css('border') === error_input) {
                            this.alert_window('邮箱Email不合法', 'Error_window')
                        } else {
                            $(`#loading_success`).css('display', 'block')
                            let data_dict = {
                                'Register_Username': Register_Username.val(),
                                'Register_Email': Register_Email.val()
                            }
                            if (Register_Email.css('border') === right_input) {
                                $.ajax({
                                    type: 'POST',
                                    url: '/user/register1_send_captcha',
                                    data: data_dict,
                                    success: function (result) {
                                        if (result==='OK'){
                                            $(`#loading_success`).css('display', 'none')
                                            vm.alert_window('验证码已经成功发送到您的邮箱','success')
                                            vm.change_window('register2')
                                        }
                                        else if (result==='Wrong'){
                                            vm.alert_window('授权码过期，请联系管理员修改', 'Error_window')
                                        }else {

                                        }
                                    },
                                    error: function () {
                                        vm.alert_window('该邮箱已经被注册', 'Error_window')
                                    }
                                })
                            }
                        }
                    } else {
                        this.alert_window('请输入您的邮箱Email', 'Error_window')
                    }
                }
            } else {
                this.alert_window('请输入您的用户名Username', 'Error_window')
            }
        },
        focusNextInput(thisinput) {
            if(thisinput.keyCode!==8 && thisinput.target.value){
                thisinput.currentTarget.nextElementSibling.focus()
            }
        },
        focusPrevInput(thisinput){
            thisinput.currentTarget.previousElementSibling.focus()
        },
        register2_next(){
            let inputs=$(`.get_captcha input`)
            let temp_captcha=''
            for(let i=0;i<inputs.length;i++){
                temp_captcha=temp_captcha+inputs.eq(i).val()
            }
            $.ajax({
                type: 'POST',
                url: '/user/register2_get_captcha',
                data: {'captcha':temp_captcha},
                success: function (result) {
                    if(result==='OK'){
                        vm.alert_window('给你小子蒙对了','Success_window')
                        vm.change_window('register3')
                    }
                    else if(result==='NO'){
                        vm.alert_window('你小子没输入对','Error_window')
                    }
                    else{
                        vm.alert_window('验证码超时或已被黑客截取了你的验证码抢先注册了','Error_window')
                    }
                },
                error: function () {
                    vm.alert_window(`被黑客入侵了我真无语,拿了什么跟我说一下`,`Error_window`)
                }
            })
        },
        register3_next(){
            let Register_Password = $(`#Register_password`)
            let Register_Password_Confirm=$(`#Register_password_confirm`)
            let nothing_in_input = '1.6px solid rgb(128, 128, 128)'
            let right_input = '1.6px solid rgb(0, 128, 0)'
            let error_input = '1.6px solid rgb(255, 0, 0)'
            if (Register_Password.css('border')===right_input){
                if (Register_Password_Confirm.css('border')===right_input){
                    $.ajax({
                        type:'POST',
                        url:'/user/register3',
                        data:{'password':Register_Password.val()},
                        success:function (result){
                            if (result==='OK'){
                                vm.alert_window('注册成功，及将为你跳转到登陆页面。','Success_window')
                                vm.change_window('register4')
                            }
                            else {
                                alert(result)
                            }
                        },
                        error:function (){
                            vm.alert_window('含有非法字符,或注册时间过长。','Error_window')
                        }
                    })
                }else{
                    vm.alert_window('两次输入的密码不一致','Error_window')
                }
            }else if (Register_Password.css('border')===error_input){
                vm.alert_window(`密码过短，容易被破解，最好大于6位`,'Error_window')
            }else{
                vm.alert_window(`密码不能为空，最好大于6位`,'Error_window')
            }
        },
        change_user_img(){
        },
        to_login(){
            let Password=$(`#Password`).val()
            let Email=$(`#Email`).val()
            if (Password){
                if (Email){
                    $.ajax({
                        type:'POST',
                        url:`/user/login`,
                        data:{'Email':Email,'Password':Password},
                        success:function (result){
                            if (result==='OK'){
                                vm.alert_window('登陆成功','Success_window')
                                location.reload()
                            }
                            else if(result==='Wrong'){
                                alert('我真就草泥马了，这点B水平还SQL注入拟注入尼玛注入')
                            }
                            else if(result==='Error'){
                                vm.alert_window(`密码错误`,'Error_window')
                            }else if(result==='None'){
                                vm.alert_window('邮箱不存在，请先注册','Error_window')
                            }
                        }
                    })
                }else {
                    vm.alert_window('请输入密码','Error_window')
                }
            }else {
                vm.alert_window('请输入请输入邮箱','Error_window')
            }
        },
        change_add_appliance_window(need){
            vm.add_appliance_window=need
        }
    },
    watch: {
        current: {
            handler(need, old_value) {
                if (need !== 'none') {
                    if (old_value !== 'none') {
                        $(`#${old_value}`).css('display', 'none')
                    } else {
                        $('#tanchuang').css('display', 'block')
                    }
                } else {
                    $(`#${old_value}`).css('display', 'none')
                    $('#tanchuang').css('display', 'none')
                    return
                }
                $(`#${need}`).css('display', 'flex')
            }
        },
        add_appliance_window: {
            handler(need){
                $('#Add_appliance_window').css('display', need)

            }
        }
    },
})
</script>
</body>
</html>