{% extends "base.html" %}
{% block title %}
    标题
{% endblock %}
{% block body%}
    <div class="jumbotron">
        <div>
            <h1 class="display-4">欢迎使用((System_name))</h1>
            <p class="lead">本系统由flask,Vue,Bootstrap完成，该项目隶属于北华航天工业学院</p>
            <p class="lead">您可以呼叫<a tabindex="0"  role="button" data-toggle="popover" data-trigger="focus" title="人工智障小Y" data-content="该人工智障由20级学长打造">小Y</a>，<a tabindex="0"  role="button" data-toggle="popover" data-trigger="focus" title="人工智障小Y" data-content="该人工智障由20级学长打造">小Y</a>会识别你的语音来完成电器控制</p>
            <p class="lead">比如："小Y同学，请帮我打开空调"</p>
            <hr class="my-4">
            <p>建议登陆后使用更佳</p>
            <a class="btn btn-primary btn-lg" href="#" @click.prevent="change_window('register4')">添加电器</a>
        </div>
    </div>
    <div class="appliances_list">
        {% if Email %}
            aaa
        {% else %}
            bbb
        {% endif %}
    </div>
    <div class="out_window shadow-lg p-3 mb-5 bg-white rounded" id="Add_appliance_window" style="display: none;left: 0;top: 0">
        <div class="close_window"><a href="#" @click.prevent="change_add_appliance_window('none')">[esc]关闭窗口</a></div>
    </div>
{% endblock %}