{% extends "base2.html" %}
{% block title %}
    首页
{% endblock %}
{% block body%}
    <div class="jumbotron" >
        <div>
            <h1 class="display-4">{{ System_name }}-未来生活的方式</h1>
            <p class="lead">本系统由flask,Vue,Bootstrap完成，该项目隶属于北华航天工业学院</p>
            <p class="lead">将您的家居生活带入21世纪,开启智能家具控制时代</p>
            <p class="lead">建议登陆后使用效果更佳</p>
            <hr class="my-4">
            <p class="lead">在此之前您需要准备一个树莓派，点击 说明文档 即可开始教程</p>
            <a href="/docs" class="btn btn-outline-primary btn-lg">说明文档</a>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                Tooltip on top
            </button>
        </div>
    </div>

{% endblock %}