{% extends "base.html" %}
{% block title %}
    标题
{% endblock %}
{% block body%}
    <div class="jumbotron">
        <h1 class="display-4">欢迎使用((System_name))</h1>
        <p class="lead">本系统由flask,Vue,Bootstrap完成，该项目隶属于北华航天工业学院</p>
        <p class="lead"></p>
        <hr class="my-4">
        <p>建议登陆后使用更佳</p>
        <a class="btn btn-primary btn-lg" href="#" @click.prevent="change_window('login')">登录</a>
    </div>
    <div style="height: 300vh">
        {% if Email %}
            <div class="card" style="width: 18rem;">
              <img src="../static/img/shuqian.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card with stretched link</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
              </div>
            </div>
        {% else %}

        {% endif %}
    </div>
{% endblock %}