<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>弹出框测试</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <script rel="stylesheet" href="../static/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-4.6.2-dist/css/bootstrap.css">
</head>
<body>
<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Right popover">
  Popover on right
</button>
    <script type="application/javascript">
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
        $('.popover-dismiss').popover({
          trigger: 'focus'
        })
    </script>
</body>
</html>