<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>autoplay</title>

</head>
<body>
    <div id="box">
        <video id="media" autoplay></video>
        <button id="capture" onclick="action()">点击抓拍</button>
        <button id="open" onclick="open_camera()">开启摄像头</button>
    </div>
  <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <canvas id="canvas" width="480" height="320"></canvas>
</body>
<script type="text/javascript">
    const media = document.getElementById('media')	// video元素
    const capture = document.getElementById('capture')	// button元素

    navigator.mediaDevices.getUserMedia({video: {width: 480, height: 320}, audio: true}).then(stream => {
    // 将视频流设置为video元素的源
    media.srcObject = stream
    // 低版本浏览器
    // media.src = window.URL.createObjectURL(stream)
    media.play()
    })


    // 绑定拍照按钮的单机事件
    function action(){
        const canvas = document.getElementById('canvas')  // canvas元素
        const context = canvas.getContext('2d')
        context.drawImage(media, 0, 0)	// 将video在canvas上绘制出来
        alert('已经替换')
        canvas.toBlob(blob => {		// 将canvas转换为blob
            console.log(blob)//此处可以上传文件到后端
        })
    }

</script>
</html>