{% extends 'base.html' %}
{% block title %}
个人资料
{% endblock %}
{% block body %}
<div class="container_body" style="justify-content: space-between">
    <div style="width: 70%">
    </div>
    <div style="width: 30%;background: #dadada">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center">时间</th>
                    <th scope="col" style="text-align: center">ip地址</th>
                    <th scope="col" style="text-align: center">登录地</th>
                    <th scope="col" style="text-align: center">登录时长</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="text-align: center"></th>
                    <td style="text-align: center">Mark</td>
                    <td style="text-align: center">Otto</td>
                    <td style="text-align: center">@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}